/* layout.css
   ======================================================================== */

/**
 * Container
 */
 .container {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-inline-size: var(--container-max-inline-size);
  padding: var(--s2);
  width: var(--container-inline-size);
}

@media (min-width: 700px) {
  .container {
    /* padding: var(--s4); */
  }
}

/**
 * Layout: 50-50
 */
@media (min-width: 700px) {
  .layout-half {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * Masonry grid
 *
 * used on partials/masonry-list.njk
 */
.masonry {
  display: grid;
  gap: var(--flow-expanded);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
}

.masonry[data-max-cols="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.masonry a:not(.tag) {
  text-decoration: none;
}

/**
 * Limit prose width
 */
.prose-width {
  --max-inline-size: var(--text-measure);
}

.prose-width > * {
  max-inline-size: var(--max-inline-size);
  word-break: break-word;
}

/**
 * Figure element placement
 */
.image-row {
  display: flex;
  gap: var(--s01);
}

.align-full-bleed {
  --max-inline-size: auto;
  display: grid;
  grid-template-columns: [bleed-start] minmax(0, var(--text-measure)) [measure] 1fr [bleed-end];
  margin-inline: calc(var(--gap) * -1);
  margin-inline-end: calc(var(--gap) * -1);
  margin-inline-start: calc(var(--gap) * -1);
}

.align-full-bleed > :not(figcaption) {
  grid-column: bleed;
  /* Center images that are not wide enough to cover */
  margin-inline: auto;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

.align-full-bleed > figcaption {
  /* Add inline padding to offset pulled inline margins on `figure`. */
  padding-inline: var(--gap);
  padding-inline-end: var(--gap);
  padding-inline-start: var(--gap);
}

@media (min-width: 440px) {
  .align-pull-end {
      float: inline-end;
      margin-inline-start: var(--gap);
      margin-inline-end: calc(var(--gap) * -1);
      width: 33%;
  }
}

/**
 * Gallery
 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: var(--s0);
}

.gallery-item img {
  height: 400px; /* Set a uniform height */
  width: auto; /* Scale width automatically to maintain aspect ratio */
}
