/* layout.css
   ======================================================================== */

/**
 * Container
 */
 .container {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-inline-size: var(--container-max-inline-size);
  width: var(--container-inline-size);
}

/**
 * Limit prose width
 */
.prose-width > * {
  max-inline-size: var(--text-measure);
  word-break: break-word;
}

.full-bleed {
  max-inline-size: var(--container-max-inline-size);
  margin-inline-start: calc(var(--s2) * -1);
  margin-inline-end: calc(var(--s2) * -1);
}

/* Center images/content when not wide enough to fill screen */
.full-bleed > :not(figcaption) {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/* Align caption text w/ prose */
.full-bleed > figcaption {
  max-inline-size: var(--text-measure);
  margin-inline-start: var(--s2);
  margin-inline-end: var(--s2);
}

.full-width {
  max-inline-size: var(--container-max-inline-size);
}

.image-row {
  /* max-inline-size: var(--container-max-inline-size); */
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);
  /* align-items: stretch; */
  /* overflow: hidden; */
}

.image-row > .image-row-image {
  flex: 0 0 auto;
}

.image-row  img {
  /* height: 200px; */
  /* inline-size: 100%; */
  /* height: auto; */
  /* flex: 1 1 0; */
  /* object-fit: cover; */
}

/**
 * Layout: 50-50
 */
@media (min-width: 700px) {
  .layout-half {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * Masonry grid
 *
 * used on partials/masonry-list.njk
 */
.masonry {
  display: grid;
  gap: var(--flow-expanded);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
}

.masonry[data-max-cols="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.masonry a:not(.tag) {
  text-decoration: none;
}

@media (min-width: 440px) {
  .align-pull-end {
      float: inline-end;
      margin-inline-start: var(--gap);
      margin-inline-end: calc(var(--gap) * -1);
      width: 33%;
  }
}

/**
 * Gallery
 */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: var(--s0);
}

.gallery-item img {
  height: 400px; /* Set a uniform height */
  width: auto; /* Scale width automatically to maintain aspect ratio */
}
