/* utilities.css
   ======================================================================== */

/**
 * Nicked from Cloud Four
 * https://cloudfour-patterns.netlify.app/patterns/utilities.html
 */
 .hidden-til-focus:not(:focus) {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}


/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-small {
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
  line-height: 1.5;
}

.no-underline {
  text-decoration: none;
}
