{% extends "layouts/page.html" %}

{% block content %}
<div class="flow-expanded">
  <article class="post layout-sidebar container">
    <header class="post__header">
      <h1>{{ title | safe }}</h1>
    </header>
    <div class="prose-width flow">
      {{ content | safe }}
    </div>
  </article>

  {# normalizing based on maximum width value?
  {% set maxWidth %}24.5{% endset %}
  <figure class="book" style="--book-width: {{ (book.w | int / maxWidth) * 100 }};">
  #}

  <div class="book-drawings">
    {% for book in collections.booksWithDrawings %}
      {# Those old iPhone drawings are too small; bump them up #}
      {% if book.w == 6.5 %}
        {% set bookWidth = 8 %}
      {% else %}
        {% set bookWidth = book.w | int %}
      {% endif %}
      <figure class="book" style="--book-width: {{ bookWidth }};">
        {# <img src="/images/books/{{ book.slug }}.png" alt="Black and white line drawing of the cover of “{{ book.title }}”"> #}
        {% bookImage book.slug, "Black and white line drawing of the cover of “" + book.title + "”" %}
      </figure>
    {% endfor %}
  </div>
</div>
{% endblock content %}
