{% extends "layouts/base.html" %}

{% block content %}
<article class="container">
  {# Below not necessary... grid-row span will automatically add rows #}
  {# <div class="grid-single-collage" style="--grid-rows: {{ images | length + 1 }}"> #}
  <div class="grid-single-collage" style="--grid-rows: {{ images | length + 1 }}">

    {##
     # What's going on here?
     #
     # Currently handling layout w/ full size main image on right, and
     # smaller images display on left under title text.
     # Main image spans as many rows as there are images, but might
     # need to change that...
     #}

    {#
    {% set headerLeftCount = 0 %}
    {% for image in images %}
    {% if image.layout == "headerLeft" %}
        {% set headerLeftCount = headerLeftCount + 1 %}
    {% endif %}
    {% endfor %}
    #}

    {# {% include "partials/page-header.html" %} #}
    <header class="flow" style="margin-block-end: var(--s2);">
      <h1>{{ title | safe }}</h1>
      {% if label %}<p>{{ label }}</p>{% endif %}
    </header>

    {% for image in images %}
      {# Treat first image as main #}
      {% if loop.index == 1 %}
        <figure style="grid-row: span {{ images | length + 1 }};">
          <img src="{{ image.src }}" alt="{{ image.title }}">
        </figure>
      {% elif image.layout == "headerLeft" %}
        <figure>
          <img src="{{ image.src }}" alt="{{ image.title }}">
        </figure>
      {% endif %}
    {% endfor %}

  </div>
</article>
{% endblock %}

{#
<div class="grid grid--singleCollage">
  <figure>
    <img src="{{ image }}" alt="{{ title }}">
    {% if label %}
      <figcaption class="text-small">
        <p>{{ label }}</p>
      </figcaption>
    {% endif %}
  </figure>
</div>
#}