{% extends "layouts/base.html" %}

{% block content %}
<article class="container flow">
  {% include "partials/page-header.html" %}
  <div class="grid gallery-flex full-bleed"><!-- full bleed doesn't quite work b/c figcaption override -->
    {% set items = collections[collectionName] %}
    {% for item in items | reverse %}
      <figure class="gallery-item">
        <a href="{{ item.url }}">
          <img src="{{ item.data.images[0].src }}" alt="">
        </a>
        {#
        <figcaption class="text-small">
          <p>{{ item.data.title }}</p>
        </figcaption>
        #}
      </figure>
    {% endfor %}
  </div>
</article>
{% endblock content %}
