---
title: Book drawings
layout: layouts/page.html
---
<div class="flow-expanded">
  <div class="prose-width">
    Oh my goodness, look at all these books! I've been drawing everything I read or listen to since 2020.
  </div>

  {# normalizing based on maximum width value?
  {% set maxWidth %}24.5{% endset %}
  <figure class="book" style="--book-width: {{ (book.w | int / maxWidth) * 100 }};">
  #}

  <div class="book-drawings full-bleed">
    {% for book in collections.booksWithDrawings %}
      {# Those old iPhone drawings are too small; bump them up #}
      {% if book.w == 6.5 %}
        {% set bookWidth = 8 %}
      {% else %}
        {% set bookWidth = book.w | int %}
      {% endif %}
      <figure class="book" style="--book-width: {{ bookWidth }};">
        {# <img src="/images/books/{{ book.slug }}.png" alt="Black and white line drawing of the cover of “{{ book.title }}”"> #}
        {% bookImage book.slug, "Black and white line drawing of the cover of “" + book.title + "”" %}
      </figure>
    {% endfor %}
  </div>
</div>